In [29]:
import requests
from bs4 import BeautifulSoup as bs

In [40]:
res = requests.get('https://www.netflix.com/kr/title/81040344')
soup = bs(res.content, 'html.parser')
mydata = soup.find('title')
print(mydata.get_text())

오징어 게임 | 넷플릭스 공식 사이트

In [41]:
mydata_1 = soup.find_all('span', 'screen-reader-text')
data_list = []
for i in mydata_1:
    data = i.get_text()
    data_list.append(data)
    print(data)

import pandas as pd
pd.DataFrame(mydata_1, columns=['a'])

data_list

Netflix
Netflix

['Netflix', 'Netflix']

In [44]:
data_1 = soup.find_all('div', "logo-container logo-other")[0]

Empty DataFrame
Columns: [a]
Index: []