In [3]:
import pandas as pd

In [8]:
srs = pd.Series([10,20,30,50], index=['1','2','3','4'])

In [9]:
srs.index

Index(['1', '2', '3', '4'], dtype='object')

In [10]:
srs.values

array([10, 20, 30, 50])

In [12]:
x = pd.Series([3,8,5,9], index=['서울', '대구', '부산', '광주'])
y = pd.Series([2,4,5,1], index=['대구', '부산', '서울', '대전'])
x+y

광주     NaN
대구    10.0
대전     NaN
부산     9.0
서울     8.0
dtype: float64

In [13]:
medal = [1,3,2,4,2,3]

x=pd.Series(medal)
print(pd.unique(x))

[1 3 2 4]

In [16]:
medal = ['호날두', '메시', '굴리트', '즐라탄', '데브라이너', '호날두', '메시', '메시']
x=pd.Series(medal)
print(pd.unique(x))

['호날두' '메시' '굴리트' '즐라탄' '데브라이너']

In [ ]:
age = {'호날두':200, '즐라탄':199, '메시': 180, '데브라이너': 90}

In [ ]:
data = [("a", 1), ("b", 2)]
dict(data)
pd.Series(dict(data))